body{
  font-family: Arial,Times, serif
}

h1,h2,h3 {
  text-align: center;
}

p{
  text-align: justify;
}

.container{
  padding: 20px;
}

.logo-container{
  text-align: center;
}

#capitol-logo {
  width: 450px;
  height: 100px;
}
